body {
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.wine-wrapper {
    padding: 20px;
    margin-bottom: 10px;
}
.wine-title {
    margin: 10px;
}
.wine-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.wine-item {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
	box-shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
.wine-img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: contain;
    object-position: center;
    /* border: 2px solid #242424; */
    /* background-color: #242424; */
}
.wine-about {
    margin: 10px 0;
    list-style-type: disc;
}
.wine-name {
    margin: 0;
    padding: 10px;
}
.wine-type {
    padding: 10px;
    text-decoration: underline;
}
.wine-grapes {
    padding: 10px;
    color: gray;
}
